* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.hero {
    display: flex;
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    padding: 250px 100px;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}

.hero-contain {
    text-align: right;
    width: 568px;
}

.hero-title {
    font-weight: 700;
    font-size: 65px;
    padding-bottom: 24px;
    color: #151414
}

.hero-sub-title {
    color: #444343;
}

.btn-contact {
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 32px;
    border: none;
    color: #FFFFFF;
    background-color: #F15B22;
}

/* header banner */
.banner {
    display: flex;
    padding: 100px 250px;
    align-items: center;
    justify-content: space-between;
}

.banner-contain {
    padding-left: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.banner-description {
    color: #444343;
    margin-bottom: 16px;
}

.banner-sub-description {
    color: #444343;
    margin-bottom: 8px;
}

/* my plans section */
.my-plans {
    padding-bottom: 100px;
}

.my-plans-section-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
}

.section-title {

    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}

.skill-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;

}

.skill-container {
    display: flex;
    margin-left: 230px;
    gap: 86px;
}

.skill {
    text-align: center;
}

.skill-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

.action {
    background-image: url("../images/watch.png");
    background-repeat: no-repeat;
    margin: 0 100px;
    background-size: contain;
    background-position: center;
}

.action-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 59px;
}

.btn-call {
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    text-align: center;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
    margin-top: 24px;
}

.inner {
    background-image: url("../images/gradient2.png");
    background-repeat: no-repeat;
    padding: 250px 100px;
    background-size: contain;
    background-position: center;
}

/* contact section */
.contact {
    display: flex;
    padding: 130px 200px;
    background: #151414;
}

.contact a {
    text-decoration: none;
}


.section-description {
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 24px;
    margin-right: 331px;
}

.section-title {
    color: #F8F8F8;
}

input {

    text-align: center;
    margin-top: 16px;
    font-weight: 600;
    font-size: 20px;
    height: 64px;
    width: 170.11px;
    border-radius: 10px;
    color: #F15B22;
    width: 325px;
    height: 64px;

}