* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header banner */
.banner {
    display: flex;
    padding: 100px 322px;
}

.banner-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.banner-description {
    color: #444343;
    margin-bottom: 16px;
}

.banner-sub-description {
    color: #444343;
    margin-bottom: 8px;
}

/* my plans section */

.section-title {

    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}

.skill-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;

}

.skill-container {
    display: flex;
    padding: 0 50px;
    gap: 86px;
}

.skill {}

.skill-description {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* contact section */
.contact {
    display: flex;
    padding: 130px 200px;
}

.contact a {
    text-decoration: none;
}

.contact .section-title {
    text-align: left;
    }

input {

    text-align: center;
    margin-top: 16px;
    font-weight: 600;
    font-size: 20px;
    height: 64px;
    width: 170.11px;
    border-radius: 5px;
    color: #F15B22;
    width: 325px;
    height: 64px;

}